x-app-env: &app-env
  environment:
    # APP
    - NEXT_PUBLIC_BASE_URL=${NEXT_PUBLIC_BASE_URL}
    - NEXT_PUBLIC_GLEAP_API_KEY=${NEXT_PUBLIC_GLEAP_API_KEY}

    # Payload
    - DATABASE_URI=${DATABASE_URI}
    - PAYLOAD_SECRET=${PAYLOAD_SECRET}
    - SERVER_URL=${SERVER_URL}

    # Brevo
    - BREVO_SENDER_NAME=${BREVO_SENDER_NAME}
    - BREVO_SENDER_EMAIL=${BREVO_SENDER_EMAIL}
    - BREVO_API_KEY=${BREVO_API_KEY}

    # Powersync
    - POWERSYNC_PRIVATE_KEY=${POWERSYNC_PRIVATE_KEY}
    - POWERSYNC_PUBLIC_KEY=${POWERSYNC_PUBLIC_KEY}
    - POWERSYNC_URL=${POWERSYNC_URL}
    - PS_JWKS_URL=${PS_JWKS_URL}

    # S3 Bucket
    - S3_BUCKET=${S3_BUCKET}
    - S3_ACCESS_KEY_ID=${S3_ACCESS_KEY_ID}
    - S3_SECRET_ACCESS_KEY=${S3_SECRET_ACCESS_KEY}
    - S3_REGION=${S3_REGION}
    - S3_ENDPOINT=${S3_ENDPOINT}
    - S3_FORCE_PATH_STYLE=${S3_FORCE_PATH_STYLE}

    # Gotemberg
    - GOTENBERG_ENDPOINT=${GOTENBERG_ENDPOINT}
services:
  #payload:
  #  image: node:18-alpine
  #  ports:
  #    - '3000:3000'
  #  volumes:
  #    - .:/home/node/app
  #    - node_modules:/home/node/app/node_modules
  #  working_dir: /home/node/app/
  #  command: sh -c "corepack enable && corepack prepare pnpm@latest --activate && pnpm install && pnpm dev"
  #  depends_on:
  #    - mongo
  #    # - postgres
  #  env_file:
  #    - .env

  # Ensure your DATABASE_URL uses 'mongo' as the hostname ie. mongodb://mongo/my-db-name
  #mongo:
  #  image: mongo:latest
  #  ports:
  #    - '27017:27017'
  #  command:
  #    - --storageEngine=wiredTiger
  #  volumes:
  #    - data:/data/db
  #  logging:
  #    driver: none

   postgres:
      image: postgres:17
      restart: always
      environment:
        - POSTGRES_USER=postgres
        - POSTGRES_DB=postgres
        - POSTGRES_PASSWORD=postgres
      volumes:
        - pg_data:/var/lib/postgresql/data

      healthcheck:
        test: ["CMD-SHELL", "pg_isready -U postgres -d postgres"]
        interval: 5s
        timeout: 5s
        retries: 5

      ports:
        - "5432:5432"
      command: ["postgres", "-c", "wal_level=logical"]

volumes:
  #data:
  pg_data:
  node_modules:
